/* Left Half */

.rectangle-2 {
  width: 55vw;
  height: 100vh;
  margin-right: 10px;
  background: black;
  overflow: hidden;
}

.rectangle-2 img {
  object-fit: cover;
  display: block;
  margin: auto;
  opacity: 0.72;
}

.rectangle-text {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  width: 300px;
}

.title {
  font-size: 38px;
  font-weight: 900;
}
